// app global css

.search-box-web {
  width: 150px;
}

.search-box-web:focus-within {
  width: 300px;
}

.search-box-m {
  height: 30px;
  width: 40px;
}

.search-box-m:focus-within {
  width: 150px;
}
